body {
  background: url(https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  font-size: 45px;
}

@media (max-width: 750px) {
  font-size: 22.5px;
}

h1 {
  font-family: 'Crimson Text', serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  text-align: center;
  user-select: none;
}

h2 {
  font-family: 'Crimson Text', serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.65em;
  text-align: center;
  user-select: none;
}

#banner {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Satisfy', cursive;
  color: rgb(255, 255, 255);
  font-size: 0.75em;
  text-align: center;
  margin: 1em 3em 0.5em 3em;
  padding: 1em;
  border-radius: 0.2em;
  user-select: none;
}

#button-container {
  display: flex;
  justify-content: space-around;
  font-size: 0.4em;
  padding: 1em 6em 0em 6em;
}

.buttons {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(1,121,11);
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  font-weight: bold;
  border: solid, 1em;
  border-radius: 1.2em;
  height: 2.1em;
  width: 6em;
  box-shadow: 0 10px 20px rgba(1,121,11,0.19), 0 6px 6px rgba(1,121,11,0.23);
   user-select: none;
}

.buttons:hover {
  color: rgb(0,255,0);
  box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
}

#funnyButton, #insightfulButton, #wiseButton, #sadButton {
  user-select: none;
}

